<div class='row justify-content-md-center'>
  <div class='col-md-4 col-xs-12 mt-4'>
    <h2 class='mb-4'><b>Register</b></h2>

    <div class='p-4' style='background: #e1e1e1; border-radius: 1rem'>
      <form action='{{baseUrl}}/register' method='post' onsubmit='return validateForm()'>

        <div class='row'>
          <div class='col-md-4 p-1'>
            <div class='form-group mb-3'>
              <label for='first_name'>First Name</label>
              <input type='text' class='form-control' id='first_name' name='first_name' placeholder='First Name' required='required' />
            </div>
          </div>

          <div class='col-md-6 p-1'>
            <div class='form-group mb-3'>
              <label for='last_name'>Last Name</label>
              <input type='text' class='form-control' id='last_name' name='last_name' placeholder='Last Name' required='required' />
            </div>
          </div>

          <div class='col-md-2 p-1'>
            <div class='form-group mb-3'>
              <label for='age'>Age</label>
              <input type='text' class='form-control' id='age' name='age' placeholder='Age' required='required' />
            </div>
          </div>
        </div>

        <div class='form-group mb-3'>
          <label for='login_email'>Email</label>
          <input type='email' class='form-control' id='login_email' name='login_email' aria-describedby='emailHelp' placeholder='Email' required='required' />
        </div>

        <div class='form-group mb-3'>
          <label for='login_password'>Password</label>
          <input type='password' class='form-control' id='login_password' name='login_password' required='required' />
        </div>

        <div class='form-group mb-3'>
          <label for='login_password_confirm'>Confirm Password</label>
          <input type='password' class='form-control' id='login_password_confirm' name='login_password_confirm' required='required' />
          <small id='password_error' class='text-danger'></small>
        </div>

        <button type='submit' class='btn btn-success'><i class='fas fa-solid fa-user'></i> Register</button>

      </form>
    </div>
  </div>
</div>

<script>
  const validateForm = () => {
  const password = document.getElementById('login_password').value;
  const confirmPassword = document.getElementById('login_password_confirm').value;
  const passwordError = document.getElementById('password_error');
    if (password.length < 8) {
      passwordError.innerText = 'Password must be at least 8 characters long.';
      return false;
    }
    if (password !== confirmPassword) {
      passwordError.innerText = 'Passwords do not match.';
      return false;
    }
    return true;
  }
</script>