<div class='row justify-content-md-center'>
  <div class='col-md-4 col-xs-12 mt-4'>
    <h2 class='mb-4'><b>Password Recovery</b></h2>

    <div class='p-4' style='background: #e1e1e1; border-radius: 1rem'>
      <div id='form'>
        <form action='{{baseUrl}}/recoverlink' method='post'>

          <div class='form-group mb-4'>
            <label for='login_email'>Email</label>
            <input type='email' class='form-control' id='login_email' name='login_email' aria-describedby='emailHelp' placeholder='Email' required='required' />
          </div>

          <button type='submit' class='btn btn-success'>Recover</button>

        </form>
        <div>An email will be sent to your inbox with a password recovery link</div>
      </div>
    </div>

  </div>
</div>

<script>
  document.getElementById('login_email').focus();
</script>